html, body {
    height: 100%;
    background: linear-gradient(to bottom, #669999 0%, #339966 100%);
}
.title {
    color: black;
    
}
#container {
    display: block;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
}
#header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}
#header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#header > h1 {
    text-align: center;
    color: 	#003300;
}

