html, body {
    height: 100%;
    background: linear-gradient(to bottom, #669999 0%, #339966 100%);
}
.title {
    color: black;
    
}
#container {
    display: block;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
}
#header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}
#header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#header > h1 {
    text-align: center;
    color: 	#003300;
}
#catalog {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#catalog > h2 {
    text-align: center;
    color: 	#003300;
}
#card-item {
    display: flex;
    border-radius: 5px;
    border-color: #003300;
    background-color: #00CC99;
    margin-bottom: 5%;
}
.pic {
    width: 25%;
    height: 25%;
    border-radius: 5px;
}
#card-item > p {
    white-space: nowrap;
}
#card-right {
    display: block;
    margin-left: 30px;
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff; 
    background-color: #006633; 
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
}

.btn:hover {
        background-color: #990000; 
        cursor: pointer;
      }
      
.btn:active {
    background-color: #660000; 
    cursor: pointer;
}
      
